name: "Build Docker Image"

jobs:
  docker:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v1"
    - name: "Build Docker Image"
      run: |
        docker login -u yoo -p ${{ secrets.GITHUB_TOKEN }} docker.pkg.github.com/$GITHUB_REPOSITORY
        docker build -t docker.pkg.github.com/$GITHUB_REPOSITORY/avrmqtt:latest .
        docker push docker.pkg.github.com/$GITHUB_REPOSITORY/avrmqtt:latest

on:
  push:
    branches:
      - master
  schedule:
  - "cron": "0 12 * * SAT"
